
<!-- Creacion: TCS - Fecha: 22/07/2018 - v1.0 -->
<div 
    class=" text-danger pull-right border border-danger rounded"
    [hidden]="formPrograma.valid"  role="alert">
    Es necesario completar los campos
</div>
<h1>Programa <label class="text-primary">{{programa.nombre}}</label> 
    <small class="ml-md-5">
        <button  [routerLink]="['/programas']"
            class="btn btn-outline-danger rounded-circle" >
            <i class="fa fa-reply" aria-hidden="true"></i>
        </button>
    </small></h1>
  <hr>

  
<form (ngSubmit)="guardarProgramaYRedireccionarAProgramas()" #formPrograma="ngForm">
    <div class="row">
        <div class="col-md-10">
            <div class="form-group row">
                <label class="col-md-2 col-form-label text-right">Nombre:</label>
                <div class="col-md-4">
                    <input  [(ngModel)]="programa.nombre"
                        name="nombre"
                        #nombre="ngModel"
                        type="text" 
                        class="form-control" 
                        placeholder="Nombre de Grado"
                        required>
                    <div [hidden]="nombre.valid" class="text-danger h-25" role="alert">Campo obligatorio</div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="form-group row">
                <label class="col-md-2 col-form-label text-right">Descripción:</label>
                <div class="col-md-5">
                    <textarea [(ngModel)]="programa.descripcion"
                        name="descripcion"
                        #descripcion="ngModel"
                        rows="4" 
                        cols="50" 
                        class="form-control" 
                        placeholder="Descripción del grado"  
                        required>
                    </textarea>
                    <div [hidden]="descripcion.valid" class="text-danger h-25" role="alert">Campo obligatorio</div>
                </div>
                <div class="row col-md-5 ml-md-2">
                    <div>
                        <div class="col-md-12">
                            <label class=" col-form-label text-right">Tipo de Grado:</label>
                        </div>
                        <div class="col-md-12">
                            <select class="form-control" 
                                    (change) ="contruirDataTableActividades(dtGrados)"
                                    [(ngModel)]="programa.conGrados" 
                                    name="ConActividades" 
                                    #ConActividades="ngModel"
                                    required>
                                    <option *ngFor="let tipoPrograma of tiposPrograma" [ngValue]="tipoPrograma.value">{{tipoPrograma.nombre}}</option>
                                </select>
                                {{tipoPrograma}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row ml-md-2" [hidden]="!programa.conGrados">
            <div class="col-md-10" >
                <h4>
                    Grados:
                    <!-- <button   [routerLink]="['/actividad','nuevo',grado.gradoId]" -->
                    <button (click) = 'agregarGrado()'
                        class="ml-5 btn btn-outline-success pull-right btn-sm" 
                        [disabled]="!formPrograma.valid"
                        type="button">
                        <i class="fa fa-plus" 
                        aria-hidden="true"></i>
                        Agregar
                    </button>
                </h4>
            </div>
            <div class="col-10 divTable mt-3">
                <div #divDtGrados>
                    <table class="table table-sm row-border hover" #dtGrados>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-10 mt-3">
                <div class="form-group  text-right">
                    <button [disabled]="!formPrograma.valid"
                        class="btn btn-primary" 
                        type="submit">
                        <i class="fa fa-save" aria-hidden="true"></i>
                        Guardar
                    </button>
                </div>
            </div>
        </div>
</form>
  
<!-- <form #formPrograma="ngForm">
        <div class="form-group row">
            <label class="col-md-2 col-form-label">Nombre</label>
            <div class="col-md-5">
                <input type="text" class="form-control" required [(ngModel)]="programa.nombre" name="nombre" #nombre="ngModel">
                <div [hidden]="nombre.valid" class="alert alert-danger" role="alert">
                    Campo obligatorio</div>
            </div>
            <label class="col-md-3 col-form-label">Año de Vigencia</label>
            <div class="col-md-2">
                <select class="form-control" required [(ngModel)]="programa.anhio" name="anhio" #anhio="ngModel">
                    <option *ngFor="let anhio of anhios" [ngValue]="anhio">{{anhio}}</option>
                </select>
                <div [hidden]="anhio.valid" class="alert alert-danger" role="alert">
                    Campo obligatorio</div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label">Descripción</label>
            <div class="col-md-5">
                <textarea type="text" class="form-control" required [(ngModel)]="programa.descripcion" name="descripcion" #descripcion="ngModel"></textarea>
                <div [hidden]="descripcion.valid" class="alert alert-danger" role="alert">Campo obligatorio</div>
            </div>
            <label class="col-md-2 col-form-label">Tipo</label>
            <div class="col-md-3">
                <select class="form-control" required [(ngModel)]="programa.conGrados" name="conGrados" #conGrados="ngModel">
                    <option *ngFor="let tipoPrograma of tiposPrograma" [ngValue]="tipoPrograma.value">{{tipoPrograma.nombre}}</option>
                </select>
                {{tipoPrograma}}
                <div [hidden]="conGrados.valid" class="alert alert-danger" role="alert">
                    Campo obligatorio</div>
            </div>
        </div>
    </form>
    <div class="row">
        <h4 class="col-6">Grados</h4>
        <div class="col-6 text-right">
            <h4>
                <button type="button" class="btn btn-primary" (click)="contruirDataTableGrados(dtGrados)">
                    <i class="fa fa-list-ol">&nbsp;</i>Recargar
                </button>
                <button type="button" class="btn btn-primary">
                    <i class="fa fa-plus">&nbsp;</i>Agregar
                </button>
            </h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-sm row-border hover" #dtGrados>
                </table>
            </div>
        </div>
    </div> -->
