<ol class="breadcrumb">
    <li class="breadcrumb-item">Administración</li>
    <li class="breadcrumb-item active">Convocatorias</li>
</ol>
<div class="row">
    <h1 class="col-7">Mantenimiento de Convocatorias</h1>
    <div class="col-5 text-right">
        <h1>
            <button type="button" class="btn btn-primary" (click)="nuevo()">
                <i class="fa fa-plus">&nbsp;</i>Agregar
            </button>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table table-sm row-border hover" #dtProgramas>
        </table>
    </div>
</div>