<div class="jumbotron">
    <div class="row">
        <div class="bcp-g33 bcp-gl">
                <div class="bcp-gbox" style="text-align: center; padding: 0 1em">
                    <a routerLink="/inicio"  data-hasqtip="0" aria-describedby="qtip-0">
                        <span class="fa-stack fa-3x">
                            <i class="fa fa-square-o fa-stack-2x">
                            </i><i class="fa fa-home fa-stack-1x"></i>
                        </span>
                        <br>
                        Home
                    </a>
                </div>
            </div>
        <div class="bcp-g33 bcp-gl">
                <div class="bcp-gbox" style="text-align: center; padding: 0 1em">
                    <a routerLink="/usuario/perfil" data-hasqtip="1" aria-describedby="qtip-1">
                        <span class="fa-stack fa-3x">
                            <i class="fa fa-square-o fa-stack-2x">
                            </i><i class="fa fa-user fa-stack-1x"></i>
                        </span>
                        <br>
                        Perfil
                    </a>
                </div>
        </div>
        <div class="bcp-g33 bcp-gl">
            <div class="bcp-gbox" style="text-align: center; padding: 0 1em">
                <a routerLink="/voluntario" data-hasqtip="1" aria-describedby="qtip-1">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-square-o fa-stack-2x">
                        </i><i class="fa fa-hand-grab-o fa-stack-1x"></i>
                    </span>
                    <br>
                    Ser Voluntario
                </a>
            </div>
        </div>
       <div class="bcp-g33 bcp-gl">
            <div class="bcp-gbox" style="text-align: center; padding: 0 1em">
                <a routerLink="/equipo" data-hasqtip="1" aria-describedby="qtip-1">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-square-o fa-stack-2x">
                        </i><i class="fa fa-sitemap fa-stack-1x"></i>
                    </span>
                    <br>
                    El Equipo
                    </a>
            </div>
        </div>
        <div class="bcp-g33 bcp-gl">
            <div class="bcp-gbox" style="text-align: center; padding: 0 1em">
                <a routerLink="/contactanos" data-hasqtip="1" aria-describedby="qtip-1">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-square-o fa-stack-2x">
                        </i><i class="fa fa-at fa-stack-1x"></i>
                    </span>
                    <br>
                    Contáctanos
                    </a>
            </div>
        </div>
        <div class="bcp-g33 bcp-gl">
                <div class="bcp-gbox" style="text-align: center; padding: 0 1em">
                    <a routerLink="/contactanos" data-hasqtip="1" aria-describedby="qtip-1">
                        <span class="fa-stack fa-3x">
                            <i class="fa fa-square-o fa-stack-2x">
                            </i><i class="fa fa-wrench fa-stack-1x"></i>
                        </span>
                        <br>
                        Administración
                        </a>
                </div>
            </div>
    </div>
</div>